$link-color: #F58634;
$btn-primary-color: #F58634;
$body-background-color: #ffffff;
$sidebar-color: #1a1a1a;
$body-text-color: #1a1a1a;
$nav-child-link-color: $link-color;
$header-text-color: #ffffff;
